// |userData.simpleNick = nick.replace(/[^A-Za-z0-9]/g, '').toLowerCase();
// |userData.tail = tail;
// |userData.prettyNick = nick;
// |userData.isAuth = true;


input(input type="hidden" name="vqvcook" value="1")
input(input type="hidden" name="vqxsq" value="xg423kl805g576dde9fg576ddbaa")
input(input type="hidden" name="uniquepostguid" value="44d-athelon")

input(input type="hidden" name="vqvbs" value="xwJPvwyOyyzLzwNLxvwLOLPLFLD")

input(input type="hidden" name="vqxro" value="c")
input(input type="hidden" name="vqxus" value=`${user.simpleNick}@${user.tail}`)
input(input type="hidden" name="vqxha" value=user.simpleNick)
input(input type="hidden" name="roomsite" value=user.tail)
input(input type="hidden" name="vqvax" value="2")
input(input type="hidden" name="vqxti" value="1466821807")
