body {
	background-color: black;
	background-image: url(/static/images/btc-background.jpg);
	color: white;
}

input, select {
	background-color: black;
	color: white;
}

button[type='button'], input[type='submit'], option {
	background-color: transparent;
}

[data-val-for] {
  color: yellow;
  background-color: black;
  margin-left: 2em;
}

label.theme-select-label {
	display: inline-block;
	color: white;
  width: 150px;
  height: 150px;
  margin-left: 2em;
}
label.theme-select-label > input {
	position: absolute; /* Remove input from document flow */
	left:-9999px;
}

label.theme-select-label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label.theme-select-label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid white;
  border-bottom: 25px solid transparent;
}

button.select-theme-button{
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: transparent;
}

button.room-list-item {
  display: block;
  background-color: transparent;
}

.room-list-item-container {
	display: inline-block;
	padding-right: 2em;
}

.util-text-align-center {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo {
    float: left;
}

#header {
	border: 5px solid black;
	overflow: auto;
}

#header #player-list-container {
	float: left;
	border: 2px solid black;
}


.section-header {
	/* color: yellow; */
background-color: #000000;
opacity: 0.3;
}

button[type='button'], input[type='submit'] {
	background-color: transparent;
}

#reload-game-room,
#reload-game-room div {
	display: inline;
	margin-right: .5em;
}

.message-container {
	display: table;
}

.message-row {
	display: table-row;
}

.message-column {
	display: table-cell;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.message-row:nth-child(odd) {
   background-color: #ccc;
}
#chat[name='chat-message'] {
	width: 90%;
}
#chat input[name='chat-message'] {
	width: 90%;
}

#chat input[type='submit'] {
	width: 9%;
}
