.lounge_western  {
	background-color: black;
	background-image: url(/static/images/western-background.jpg);
	color: white;
}

.lounge_western .logo {
	display: inline-block;
	height: 150px;
	width: 150px;
	background-image: url(/static/images/western-logo-small.png);
}
