.lounge_western  {
	background-color: black;
	background-image: url(/static/images/western-background.jpg);
	color: white;
}

.lounge_western .logo {
	display: inline-block;
	height: 150px;
	width: 150px;
	background-image: url(/static/images/western-logo-small.png);
}

.lounge_western .section-header {
background-color: #000000;
opacity: 0.7;
color: silver;
}

.lounge_western button[type='button'],
.lounge_western input[type='submit'] {
	background-color: transparent;
	color: white;
}
