extend _pagebase

block body
  h1 Welcome to Athelon's personal testing ground.

  form(method="post")
    div
      | By what name are you known?
      br
      input(name="vqxus" value=soiUserData.vqxus)
      input(type="submit" name="vqvai" value="I Am 18 or Older")
      
