
<html>
  <head>
  
  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
  <title>##roomname##</title>
</head>

  <body
    link="##color_link##"
    background="##background##"
    bgcolor="##color_bccolor##"
    text="##color_text##"
    vlink="##color_vlink##"
    alink="##color_alink##"

    style="margin-left: 1.25em"
  >
  
  
  ##body##
  
  <style>
  div.fake_soi_warning {
    font-family: monospace;
    height: 100%;
    width:1em;
    background-color: black;
    color:yellow;
    top: 0px;
    left:0px;
    position: fixed;
  }
  </style>

  <!--[if IE]>
  <style>
  div.fake_soi_warning {
    position:absolute; /* position fixed for IE6 */
    top:expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
    left:expression(0+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');
  }
  </style>
  <![endif]-->

  <div class="fake_soi_warning">
  <marquee style="height: 100%" direction="up">
  <center>
  T<br>h<br>i<br>s<br> <br>i<br>s<br> <br>n<br>o<br>t<br> <br>S<br>O<br>I<br>.<br> <br> <br> <br>T<br>h<br>i<br>s<br> <br>j<br>u<br>s<br>t<br> <br>l<br>o<br>o<br>k<br>s<br> <br>l<br>i<br>k<br>e<br> <br>S<br>O<br>I<br>.<br>
  </center>
  </marquee>
  </div>

</body>
</html>