$corp-color: #48240a;
$corp-color-dark: darken($corp-color, 15%);
$corp-color-second: red;
$corp-color-second-dark: darken($corp-color-second, 15%);
$corp-background-image: url(/static/images/western-background.jpg);
$corp-logo-image: url(/static/images/western-logo-small.png);

$zebra-strip-even: lighten($corp-color, 15%);
$zebra-strip-odd: $corp-color;

// Font
$base-font-size: 1.8;
$base-font-family: Helvetica, Arial, Sans-Serif;
$base-font-color: white;

@import '../../btc-lounge';


